*.pyc
__pycache__/

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/

.vscode/
venv/
venv2/
application.db
requirements_tmp.txt
reqs.txt

celerybeat.pid
celerybeat-schedule.dat
celerybeat-schedule.dir
.idea/

/.env
.history
.env_template